<div>
    <h1>Ironhack Cinema</h1>
    <h2> Click on the movie to check the showtimes!</h2>
    {{#each films}}
    <h3>{{image}}</h3>
    <h3>{{title}}</h3>
    {{/each}}
    <a href="/detail">See more</a>
</div>